
* {
	font-family: "IBM Plex Sans", ui-sans-serif ;
	color: black;

}

/*CSS Variables*/
:root {
  --theme-main-color: #6c19ff;
  --theme-main-color-trans: rgba(108, 25, 255, .2);
  --theme-secondary-color:  #404040;
  --theme-alt-button: rgba(74, 222, 128);
  --theme-main-dark: #5014bb;
}

/*body {
	width: ;
}*/

.alt-button {
	background-color: var(--theme-alt-button) !important;
}

.alt-button:hover {
	color: var(--theme-alt-button) !important;
	background-color: #ffff !important;
	border-color: var(--theme-alt-button) !important;

}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 2rem;
	/*text-align: center;*/
	/*justify-content: center;*/
	/*margin: 0 auto;*/
}

section, nav {
	max-width: 100%;
	/*height: 200vh;*/
	/*margin: 0 2rem;*/
}

@media (min-width: 768px ) {
	section, nav {
		max-width: 90%;
	}
}


@media (min-width: 992px ) {
	section, nav {
		max-width: 80%;
	}
}

.tools-text {
	color: black;
	font-weight: 500;
}


.modif-tools {
	width: 80px;
	border-radius: 50%;
	object-fit: cover;
    object-position: center center;
	}

@media (min-width: 425px) {
	.modif-tools {
	width: 100px;
	border-radius: 50%;
	object-fit: cover;
    object-position: center center;
	}
}

.col-10 {
	padding-right: 10px ;
	padding-left: 10px;
}

#gmap_canvas {
		height: 40vh;
		width: 97%;
	}

@media (min-width: 768px) {
	#gmap_canvas {
		height: 40vh;
		width: 90%;
	}
}	

@media (min-width: 992px) {
	#gmap_canvas {
		height: 40vh;
		width: 90%;
	}
}	

.fade-in-anim {
	animation-name: animateIn;
  	animation-duration: 350ms;
  	animation-delay: calc(var(--animation-order) * 100ms);
  	animation-fill-mode: both;
  	animation-timing-function: ease-in-out;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }
  
  100% {
    opacity: 1;
  }
}




a {
	color: var(--theme-main-color);
}

.card-body {
	padding-bottom: 0;

}

#brand-logo {
	height: 4rem;
	width: 4rem;
}

nav a i:hover {
	color: var(--theme-main-color) !important;
	transform: scale(1.1); 
	transition: all .2s ease-in-out; 
}




#main-nav-links a:hover {
	color: var(--theme-main-color) !important;
	/*text-decoration: underline;*/
	text-decoration-color: var(--theme-main-color);
	transform: scale(1.1);
	transition: all .2s ease-in-out; 
}

.shadow-alt {
	box-shadow: 0 .5rem 1rem rgba(108, 25, 255, .20)!important;
}

.shadow {
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.25)!important;
}

#footer-nav-links{
	color: #fff !important;
}

/*#footer-nav-links:hover {
	border-bottom: 2px solid var(--theme-main-dark);
	z-index: 99999999;
}*/

ul li {
	list-style-type: none;
}

ul {
	padding-inline-start: 0px;
}

/*#main-nav-links a:is(:link, :active, :visited).active {
	color: var(--theme-main-color);
	border-bottom: 2px solid var(--theme-main-color);
}*/

.margin-title {
	font-weight: 600;
	margin-bottom: 0;
}

.margin-title-1 {
	font-weight: 700;
	margin-bottom: 0;
	font-size: 2.3rem;
}


@media (min-width: 992px ) {
	.margin-title-1 {
	font-weight: 700;
	margin-bottom: 0;
	font-size: 3rem;
	}
}



.img-resize {
	max-height: 12rem;
	object-fit: cover;
    object-position: center center;
}


#projects-desc {
	color: var(--theme-secondary-color) !important;
}

.card {
	min-width: 275px;
	max-width: 320px;
}



/*
col-* - from the smallest screen
col-sm-* breakpoint from small screen or about 576px screen width
col-md-* breakpoint from medium screen or about 768px screen width
col-lg-* breakpoint from large screen or about 992px screen width
col-xl-* breakpoint from largest screen or about 1200px screen width

*/

.bg-primary-trans {
	background-color: var(--theme-main-color-trans) !important;
}

.bg-primary-footer {
	background-color: var(--theme-main-dark);
}

.one-to-one-ratio {
	height: 200px;
	width: 200px;
	border-radius: 2rem;
	object-fit: cover;
    object-position: center center;
    filter: brightness(112%);
 /*   filter: contrast(100%);*/
	}

@media (min-width: 576px ) {
	.one-to-one-ratio {
	height: 250px;
	width: 250px;
	border-radius: 2rem;
	object-fit: cover;
    object-position: center center;
	}
}




.font-weight-semibold {
	font-weight: 500;

}

#hostinger {
	text-decoration: underline;
}


/*.navbar {
	max-width: inherit;
}
*/
.navbar-light .navbar-nav .nav-link {
    color: var(--theme-secondary-color) ;
}

.fa-icons {
	color: var(--theme-secondary-color) ;
	font-size: 1.5rem;
}

.fa-icons-footer {
	color: #fff ;
	font-size: 1.5rem;
}

.btn-dark {
	background-color: var(--theme-secondary-color) ;
	border-color: var(--theme-secondary-color);
}

.btn-outline-primary {
	color: var(--theme-main-color);
	border-color: var(--theme-main-color) ;
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: var(--theme-main-color) ;
	border-color: var(--theme-main-color) ;
}

.btn-primary {
	color: #fff;
	background-color: var(--theme-main-color) ;
	border-color: var(--theme-main-color) ;
}

.btn-primary:hover {
	color: var(--theme-main-color);
	background-color: #fff ;
	border-color: var(--theme-main-color) ;
}

.border-primary {
	border-color: var(--theme-main-color);
}


/*
.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited {
    color: var(--theme-main-color) !important;
    border-color: var(--theme-main-color) !important;
}*/

/*.btn-outline-primary:hover {
	color: white;
	background-color: var(--theme-main-color) !important;
	border-color: var(--theme-main-color) !important ;
}*/